In [2]:
#import packages
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
import matplotlib.pylab as plt

In [4]:
#Import Data
ubank_df = pd.read_csv('UniversalBank.csv')
ubank_df.head(10)
ubank_df.describe()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,2500.500000,45.338400,20.104600,73.774200,93152.503000,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,1443.520003,11.463166,11.467954,46.033729,2121.852197,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,1.000000,23.000000,-3.000000,8.000000,9307.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1250.750000,35.000000,10.000000,39.000000,91911.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,2500.500000,45.000000,20.000000,64.000000,93437.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,3750.250000,55.000000,30.000000,98.000000,94608.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,5000.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [7]:
#Split data Training 60/ Validation 40
ubankTrain, ubankValidate = train_test_split(ubank_df, test_size=0.4, random_state=6011)
print(ubankTrain.shape, ubankValidate.shape)
ubankTrain.describe()

(3000, 14) (2000, 14)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,2487.310000,45.278333,20.021333,73.241667,93156.639333,2.430667,1.920910,1.901667,57.382333,0.099333,0.099333,0.057667,0.598000,0.294000
std,1437.388499,11.594209,11.585722,45.783439,1772.663336,1.155987,1.755612,0.847095,102.685119,0.299159,0.299159,0.233151,0.490384,0.455668
min,1.000000,23.000000,-3.000000,8.000000,90005.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1229.750000,35.000000,10.000000,39.000000,91768.000000,1.000000,0.670000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2486.500000,45.500000,20.000000,63.000000,93460.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,3719.250000,55.000000,30.000000,98.000000,94608.000000,4.000000,2.500000,3.000000,102.250000,0.000000,0.000000,0.000000,1.000000,1.000000
max,4999.000000,67.000000,43.000000,224.000000,96651.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
#Normalize
scaler = preprocessing.StandardScaler()

scaler.fit(ubankTrain[['Age','Experience','Income','Family','CCAvg','Mortgage']])

ubankNorm = pd.concat([pd.DataFrame(scaler.transform(ubank_df[['Age','Experience','Income','Family','CCAvg','Mortgage']]),
                                columns=['zAge','zExperience','zIncome','zFamily','zCCAvg','zMortgage']),
                            ubank_df[['ID','ZIP Code','Personal Loan','Securities Account','CD Account', 'Online','CreditCard']]], axis=1)
trainNorm = ubankNorm.iloc[ubankTrain.index]
validNorm = ubankNorm.iloc[ubankValidate.index]

print(trainNorm.describe(),'\n', validNorm.describe())

               zAge   zExperience       zIncome       zFamily        zCCAvg  \
count  3.000000e+03  3.000000e+03  3.000000e+03  3.000000e+03  3.000000e+03
mean  -2.979098e-16 -1.270835e-16  1.166474e-16 -4.316917e-17  2.901383e-17
std    1.000167e+00  1.000167e+00  1.000167e+00  1.000167e+00  1.000167e+00
min   -1.921826e+00 -1.987375e+00 -1.425243e+00 -1.237822e+00 -1.094337e+00
25%   -8.866536e-01 -8.651169e-01 -7.480298e-01 -1.237822e+00 -7.126397e-01
50%    1.912193e-02 -1.841654e-03 -2.237354e-01 -3.726154e-01 -2.397912e-01
75%    8.386331e-01  8.614336e-01  5.408607e-01  1.357797e+00  3.299058e-01
max    1.873805e+00  1.983691e+00  3.293406e+00  1.357797e+00  4.602633e+00

          zMortgage           ID      ZIP Code  Personal Loan  \
count  3.000000e+03  3000.000000   3000.000000    3000.000000
mean  -3.996803e-16  2487.310000  93156.639333       0.099333
std    1.000167e+00  1437.388499   1772.663336       0.299159
min   -5.589116e-01     1.000000  90005.000000       0.000000
25%   -5.589116e-01  1229.750000  91768.000000       0.000000
50%   -5.589116e-01  2486.500000  93460.000000       0.000000
75%    4.370170e-01  3719.250000  94608.000000       0.000000
max    5.626073e+00  4999.000000  96651.000000       1.000000

       Securities Account   CD Account       Online   CreditCard
count         3000.000000  3000.000000  3000.000000  3000.000000
mean             0.099333     0.057667     0.598000     0.294000
std              0.299159     0.233151     0.490384     0.455668
min              0.000000     0.000000     0.000000     0.000000
25%              0.000000     0.000000     0.000000     0.000000
50%              0.000000     0.000000     1.000000     0.000000
75%              0.000000     0.000000     1.000000     1.000000
max              1.000000     1.000000     1.000000     1.000000
               zAge  zExperience      zIncome      zFamily       zCCAvg  \
count  2000.000000  2000.000000  2000.000000  2000.000000  2000.000000
mean      0.012954     0.017971     0.029084    -0.074119     0.024252
std       0.971856     0.974701     1.013781     0.980633     0.988872
min      -1.921826    -1.987375    -1.425243    -1.237822    -1.094337
25%      -0.800389    -0.778789    -0.748030    -1.237822    -0.695549
50%      -0.024010    -0.001842    -0.201890    -0.372615    -0.182821
75%       0.838633     0.861434     0.562706     0.492591     0.386876
max       1.873805     1.983691     2.878340     1.357797     4.602633

         zMortgage           ID      ZIP Code  Personal Loan  \
count  2000.000000  2000.000000   2000.000000    2000.000000
mean     -0.021514  2520.285000  93146.298500       0.091000
std       0.976450  1452.804369   2558.254703       0.287681
min      -0.558912     3.000000   9307.000000       0.000000
25%      -0.558912  1295.750000  92028.000000       0.000000
50%      -0.558912  2514.500000  93407.000000       0.000000
75%       0.398057  3783.500000  94608.000000       0.000000
max       5.294908  5000.000000  96651.000000       1.000000

       Securities Account   CD Account       Online   CreditCard
count         2000.000000  2000.000000  2000.000000  2000.000000
mean             0.112000     0.064500     0.595000     0.294000
std              0.315445     0.245703     0.491015     0.455706
min              0.000000     0.000000     0.000000     0.000000
25%              0.000000     0.000000     0.000000     0.000000
50%              0.000000     0.000000     1.000000     0.000000
75%              0.000000     0.000000     1.000000     1.000000
max              1.000000     1.000000     1.000000     1.000000

In [16]:
#kNN

knn = NearestNeighbors(n_neighbors=1)
knn.fit(trainNorm[['zAge','zExperience','zIncome','zFamily','zCCAvg','zMortgage']])
x = trainNorm[['zAge','zExperience','zIncome','zFamily','zCCAvg','zMortgage']]
distances, indicies = knn.kneighbors(x.iloc[:1])
trainNorm.iloc[indicies[0], :]

,zAge,zExperience,zIncome,zFamily,zCCAvg,zMortgage,ID,ZIP Code,Personal Loan,Securities Account,CD Account,Online,CreditCard
812,-0.800389,-0.865117,-0.180044,1.357797,0.158997,-0.558912,813,90089,0,0,0,0,0